<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>超盟 - 合作商户</title>
    <link href="http://cdn.bootcss.com/semantic-ui/2.2/semantic.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href={% static "css/store/navigation.css" %}>

    <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.2/semantic.min.js"></script>
    <script src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js"></script>

    <script src={% static "js/store/navigation.js" %}></script>
</head>
<body>


<div class="ui borderless main menu">
    <div class="ui container">
        <div href="#" class="header item">
            <img class="logo" src="{% static 'images/logo.jpg' %}" style="width: 120px" draggable="false">
            连锁数据分析
        </div>
        <a href="#" class="item">首页</a>
        <a href="#" class="ui right floated icon item">
            <i class="circular user icon"></i>
        </a>
    </div>
</div>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui header">
                数据对接平台
            </h1>
            <p></p>
            

            <div class="ui middle aligned animated list">
                <div class="item add">
                    <div class="content" id="sql">
                        <div class="header"> <a>数据库账户</a> {%if sql%} <i class="big teal checkmark icon"></i> {%else %} <i
                                class="big red arrow right icon"></i> {%endif%}
                        </div>
                    </div>
                </div>
                <div class="item add">
                    <div class="content" id="wechat">
                        <div class="header"> <a>微信账户</a> {%if wechat%} <i class="big teal checkmark icon"></i> {%else %} <i
                                class="big red arrow right icon"></i> {%endif%}
                        </div>
                    </div>
                </div>
                <div class="item add">
                    <div class="content" id="alipay">
                        <div class="header"> <a>支付宝账户</a> {%if alipay%} <i class="big teal checkmark icon"></i> {%else %} <i
                                class="big red arrow right icon"></i> {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox" id="terms" checked="checked">
                    <label for="terms">同意<a href="javascript:void(0);" id="disclaimer">超盟连锁便利店数据服务协议</a>。</label>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="ui long test modal">
    <div class="header">
        北京超萌国际文化有限公司 -- 连锁便利店数据服务协议
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="{% static 'images/logo.jpg' %}">
        </div>
        <div class="description">
            <p>
                本公司数据服务协议书，是对北京超萌文化有限公司（以下简称为“超盟数据”）及根据本协议合作的法人或其他组织的权利义务关系之约定。您通过本平台与超盟进行数据对接，即视为您同意接受本协议的约束，并愿意按照本协议的约定享受您的权利，并履行您的义务。您必须保证，您已仔细阅读、完全理解并接受本协议条款。</p>
            <div class="ui header">第一条 术语定义</div>
            <div class="ui divider"></div>
            <p>客户：在门店购买的消费终端用户</p>
            <p>pos：连锁便利店收银终端</p>
            <p>sku：商品最小可计算单位</p>
            <p>毛利润：pos端销售额与采购成本价之差</p>
            <p>毛利率：毛利率与销售额之商</p>
            <p>库存周转天数：商品从总仓收货到门店销售的周期</p>
            <p>动销率：已售sku数与在库sku数之商</p>
            <p>滞销品：销售量、销售额、毛利润等销售指标表现差的商品</p>
            <p>热销品：销售量、销售额、毛利润等销售指标表现好的商品</p>
            <p>新品：目前总仓及门店不在销售的商品</p>
            <p>购物篮：客户一次性购买商品篮子</p>
            <p>线上：天猫、京东、一号店等电子商务网站</p>
            <div class="ui header">第二条 超盟数据使用流程</div>
            <div class="ui divider"></div>
            <p>1. 您首先在阅读、理解并接受本协议的基础上，进行数据对接，一旦对接成功，您将被视为超盟数据的合作伙伴，享受超盟数据合作伙伴的权利，并履行合作伙伴的义务。</p>
            <p>2. 您成为超盟数据合作伙伴后，您需要根据数据补充协议进入平台进行数据对接，控制并选择双方对接的真实数据。超盟数据合作伙伴有义务保证其对接数据的安全性、稳定性、有效性</p>
            <p>3. 您在与超盟数据完成数据对接后，可以在超盟数据的产品上得到数据智能分析服务。超盟数据选择性提供整体销售分析、品类销售分析、区域销售分析、商品销售分析、电商销售分析、商品结构分析、商品结构调整意见等。</p>
            <p>4. 超盟数据提供的分析结果仅供参考，不承担任何直接的法律及行政责任。</p>
            <p>5. 您与超盟数据进行合作后，对功能的改进与迭代，双方均有权利与义务。对新增功能，超盟合作伙伴需要配合进行进一步的数据对接与解释。</p>
            <p>6. 超盟数据服务的费用支付，依从主合同。</p>
            <div class="ui header">第三条 超盟数据的权利和义务</div>
            <div class="ui divider"></div>
            <p>1. 超盟数据保证不会将超盟数据合作伙伴的原始数据进行直接以盈利为目的的泄漏、出售等。</p>
            <p>2. 通过数据平台，超盟数据不会在知情下进行非法商品推荐。</p>
            <p>3. 超盟数据有权对您的数据进行加工分析，形成数据平台呈现的分析结论。超盟数据对分析结果拥有合法的所有权。</p>
            <p>4. 超盟数据根据自身判断，认为超盟数据合作伙伴正在进行或即将进行可能损害超盟数据利益的活动时，有权立即冻结该账号，并有权要求立即停止一切相关活动，超盟数据保留追索权利。</p>
            <div class="ui header">第四条 超盟数据合作伙伴的权利和义务</div>
            <div class="ui divider"></div>
            <p>1. 为了推广服务的顺利、平稳进行，超盟数据合作伙伴应尽最大努力保证其数据的稳定性及安全性。</p>
            <p>2.
                超盟数据合作伙伴在与超盟数据进行合作过程中获取的各项信息，包括但不限于销售数据、商品推荐、电商分析等所有与本协议相关的信息，未经超盟数据同意，不得泄漏给任何第三方,相关法律法规规定或国家政府部门要求披露的情况除外。</p>
            <p>3. 超盟数据合作伙伴应保证提供的数据是真实、有效、准确的，如因超盟数据合作伙伴提供的信息错误、不完整而导致超盟数据无法提供趋于准确的分析结果或分析结果延迟等事项，超盟数据将不会承担任何责任。</p>
            <p>4.
                超盟数据合作伙伴应妥善保管本协议中超盟数据赋予的各等级账号ID及密码，密码是超盟数据合作伙伴管理其账户的唯一识别信息，如因管理不慎发生密码遗失、被盗等情况，超盟数据合作伙伴将自行承担相应后果及责任。</p>
            <p>5. 超盟数据提供的所有相关分析结论的所有权及解释权均归超盟数据所有，未经超盟数据书面同意，超盟数据合作伙伴不得以任何本协议约定之外的目的进行使用或许可其他第三方使用。</p>
            <p>6. 依据诚实信用原则，超盟数据合作伙伴仅得以本协议约定的方式进行使用，未经超盟数据同意，超盟数据合作伙伴不得以本协议约定之外的途径使用分析结论、数据、图片、信息或进行销售。</p>
            <div class="ui header">第五条 超盟数据隐私政策</div>
            <div class="ui divider"></div>
            <p>1. 您保证对接入超盟数据的数据进行合法授权，并对原始数据享有所有权。您有权使用超盟数据服务。同时，您声明并保证在使用超盟数据的过程中遵守如下要求：</p>
            <p class="secondary">(1)
                不复制、模仿、修改、翻译、改编、出借、出售、转许可、在信息网络上传播或转让超盟数据和/或相关软件，也不逆向工程、反汇编、反编译、分解拆卸或试图以其他方式发现超盟数据服务/软件的源代码。
            <p>
            <p class="secondary">(2) 不发送和储存带有病毒的、蠕虫的、木马和其他有害的计算机代码、文件、脚本和程序。</p>
            <p class="secondary">(3) 不利用超盟数据服务散发大量不受欢迎的或者未经请求的电子邮件、电子广告、营销推广或包含反动、色情等有害信息的电子邮件。</p>
            <p class="secondary">(4)
                不利用超盟数据提供的资源和服务上传、下载、储存、发布任何违法违规、侵权、淫秽、色情、不道德、欺诈、诽谤（包括商业诽谤）、非法恐吓或非法骚扰等信息或内容，不为他人发布该等信息提供任何便利（包括但不限于设置URL、BANNER链接等）。</p>
            <p class="secondary">(5)
                不建立或利用有关设备、配置运行与超盟数据服务无关的程序或进程，或者编写恶意代码导致大量占用超盟数据服务器内存、CPU或者网络带宽资源，给超盟数据或超盟数据其他用户的网络、服务器（包括但不限于本地及外地和国际的网络、服务器等）、产品/应用等带来严重负荷，影响超盟数据与国际互联网或超盟数据与特定网络、服务器及超盟数据内部的通畅联系，或者导致超盟数据或其他用户网站所在的服务器宕机、死机或用户基于超盟数据的产品/应用不可访问等。</p>
            <p class="secondary">(6)
                不进行任何破坏或试图破坏网络安全的行为（包括但不限于钓鱼、黑客、网络诈骗、网站或空间中含有或涉嫌散播病毒、木马、恶意代码，及通过虚拟服务器对其他网站、服务器进行涉嫌攻击行为如扫描、嗅探、ARP欺骗、DOS等）。</p>
            <p class="secondary">(7) 不进行任何改变或试图改变超盟数据系统配置或破坏系统安全的行为。</p>
            <p class="secondary">(8) 不侵犯超盟数据和/或其关联方或任何第三方的合法权益。</p>
            <p class="secondary">(9) 如超盟数据服务涉及第三方软件之许可使用的，您同意遵守相关的许可协议的约束。</p>
            <p class="secondary">(10) 不从事其他违法、违规、不恰当或违反本协议的行为。</p>
            <p>2.
                您接入超盟数据平台的数据保证其安全性、稳定性、有效性，不包含任何其他软件程序，不存在病毒、蠕虫、木马和其他有害的计算机的代码、文件、脚本和程序，也不存在任何一项中国互联网协会所公布的恶意软件特征，不会对超盟数据和/或其关联方的相关系统造成损害，亦不会对超盟数据和/或其关联方或其他第三方数据造成损害。</p>
            <p>3.
                如司法机关、行政机关或第三方权利人提出您的数据涉嫌侵权等合理理由，通知超盟数据要求删除您接入到超盟数据中的部分或全部数据的，超盟数据有权按照司法机关、行政机关或第三方权利人的要求进行删除，且无需承担任何违约责任。</p>
            <p>
                4．用户同意超盟数据有权将其在本协议项下接受的、接触的相关数据信息，在本协议存续期间及本协议终止或解除后，保存在超盟数据和/或其关联方服务器中；而且无论基于何种理由，您都不得要求超盟数据和/或其关联方删除或销毁产品相关数据信息。超盟数据承诺有相应的技术措施及安全策略、安全系统以防止数据泄露或发生数据安全风险。</p>
            <p>5.
                如用户违反法律法规或本协议的约定非法接入、上传、发布和/或不当使用数据的，或者可能侵犯个人隐私、商业秘密或其他用户权益的，超盟数据有权采取直接终止本协议、暂停或终止超盟数据服务、要求用户立即删除或径行删除相关算法、模型、数据等措施，且前述措施可以合并使用。用户应当以自己的名义独立承担全部责任，并对超盟数据、其他用户或任何第三方造成的损失进行赔偿。</p>
            <p>6. 未经超盟数据书面同意，超盟数据合作伙伴不得复制超盟数据内容、不得冒充超盟数据网站。</p>
            <div class="ui header">第六条 知识产权相关约定</div>
            <div class="ui divider"></div>
            <p>1. 协议双方仅可在本协议约定的范围内，使用对方的商标、LOGO等，不得以任何其他目的或方式使用对方的商标、LOGO等。</p>
            <p>2. 由于一方的责任所发生的所有物质和经济损失，责任方有赔偿的责任。</p>
            <p>3.
                超盟数据对超盟数据合作伙伴提供的包括但不限于文字、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计等均具有完整的知识产权，超盟数据合作伙伴仅得以本协议约定之目的进行使用，不得擅自修改、演绎或以本协议约定之外的目的使用。</p>
            <p>4. 非经超盟数据或其权利人书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表超盟数据所涉网站程序或内容。</p>
            <p>5.
                超盟数据在提供服务过程中所产生的分析报告、行业报告、人群标签、人群画像、关联度、购物篮等数据内容的所有权及其知识产权，均由超盟数据所有并享有相关收益，您仅能基于相应服务约定之目的而进行合理使用。未经超盟数据书面授权，您不得用于任何商业目的。
            <p>6.
                超盟数据授予用户有限的、非排他性的、可随时终止的和不可再分发的许可，仅限于用户在自己访问和使用超盟数据服务时，允许用户访问超盟数据提供的或其他用户明确授权的信息；但超盟数据有权随时在提前通知或不通知的情况下自行限制、约束或禁止用户使用超盟数据全部或部分服务。</p>
            <p>7.
                您同意超盟数据平台运营数据（包括但不限于用户登录信息、操作记录、服务订购等数据）的全部权利均归属超盟数据。用户承诺在未经超盟数据事先书面批准的情况下，不得为任何目的擅自保存、使用或授权他人使用前述运营数据。</p>
            <div class="ui header">第七条 免责条款</div>
            <div class="ui divider"></div>
            <p>1. 由于自然灾害或不可抗力（如软件、系统服务设备维护、检修等不得已情况，基础电信业务经营者电信线路服务中止等）等因素无法正常提供服务，双方可免于承担责任。</p>
            <p>2. 双方均不保证对方通过本协议的签订和履行而期待或要求的收益。</p>
            <div class="ui header">第八条 陈述和保证</div>
            <div class="ui divider"></div>
            <p>双方互相向对方声明、陈述和保证如下：</p>
            <p>1．其有资格从事本协议项下之交易，而该等交易不违反相关法律法规之规定。</p>
            <p>2．其有权订立本协议。</p>
            <p>3．其有能力履行其于本协议项下之义务，并且该等履行义务的行为不违反任何对其有约束力的法律文件的限制或侵犯任何第三方的合法权益。</p>
            <p>4. 任何一方违反本条约定，另一方有权立即解除本协议，如因守约方违反本条约定而给守约方造成损失，则守约方有权要求违约方赔偿全部损失。</p>
            <div class="ui header">第九条 保密条款</div>
            <div class="ui divider"></div>
            <p>1.
                双方保证一方根据本协议获知或获准使用的另一方的硬件、软件、程序、密码、商品名、技术、许可证、专利、商标、LOGO、技术知识和经营过程是另一方的合法所有，获得方对此无任何权利或利益，亦不会向任何第三方透露。</p>
            <p>2 . 双方在合作期间获知的对方的商业秘密、技术秘密等须双方保密的事项，在协议期间及协议终止后两年内不得向第三方披露或公开。</p>
            <p>3. 超盟数据承诺并保证：其对根据本协议获知的超盟数据合作伙伴的销售原始数据进行严格保密，不会向任何第三方直接透露，亦不会向任何不相关之人员进行披露。</p>
            <p>4. 以上保密条款并不因本协议的解除和终止而失效。</p>
            <div class="ui header">第十条 争议解决</div>
            <div class="ui divider"></div>
            <p>1. 双方因履行本协议而发生的争议，应首先通过友好协商解决；</p>
            <p>2. 协商不成或不能协商的，双方同意提交北京市朝阳区人民法院诉讼解决。</p>
            <div class="ui header">第十一条 其它</div>
            <div class="ui divider"></div>
            <p>1. 本协议自您在超盟数据平台进行数据对接之日起生效，您停止与超盟数据的主合同，或冻结撤销超盟数据平台账号之日或出现本协议约定情形时，本协议终止。</p>
            <p>2.
                一方向另一方发出的通知，以电子邮件形式发送的，自电子邮件进入对方邮件系统之时，视为对方收到该通知；以传真形式发送的，自传真完成发送之时，视为对方收到该通知；以快递形式发送的，以对方签收之日或第三方快递公司系统显示送达或拒收之日起视为对方收到该通知。</p>
            <p>3. 未尽事宜，双方应平等、友好协商，以合理解决问题的态度积极解决问题。如协商未果，可就该纠纷向北京市海淀区人民法院提请诉讼解决。</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui primary approve button">
            同意并继续
            <i class="right chevron icon"></i>
        </div>
    </div>
</div>


</body>

</html>
