<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}超盟單店分析{% endblock title %}</title>
<!-- fix the confliction between jquery-sparkline and semantic-ui -->
<style>
.jqstooltip{
    width: auto !important;
    height: auto !important;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
</style>
</head>

<body>
{% block body %}
{% endblock body %}
<link href="//cdn.bootcss.com/semantic-ui/2.1.4/semantic.min.css" rel="stylesheet" type="text/css" >
<link href="//cdn.bootcss.com/jqueryui/1.12.0/jquery-ui.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jqueryui/1.12.0/jquery-ui.min.js"></script>

{% block extra-script %}
{% endblock extra-script %}
</body>
</html>