{% extends "analytics/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block body %}
<div class="container rail">
    <h1>{{store_name}} / {{brand_name}}</h1>

<div class='ui sticky' id='tag-types'>
    <div class='ui labels'>
        <span class='ui label red'>品牌</span>
        <span class='ui label green'>系列</span>
        <span class='ui label yellow'>商品屬性</span>
        <span class='ui label blue'>商品分類</span>
        <span class='ui label purple'>商品数量</span>
    </div>
</div>


<div class='ui grid' id='tagged-items'>
    <div class='eighteen wide column'>

    <h3>本店</h3>
    <div class="ui statistics">
        <div class="ui statistic">
          <div class="value">
            {{store_stats.num_sku|intcomma}}
          </div>
          <div class="label">
            SKU數
          </div>
        </div>

        <div class="ui statistic">
          <div class="value">
            {{store_stats.series|length|intcomma}}
          </div>
          <div class="label">
            系列
          </div>
        </div>

        <div class="ui statistic">
          <div class="value">
            {{store_stats.property_counts|length|intcomma}}
          </div>
          <div class="label">
            商品屬性數
          </div>
        </div>

        <div class="ui statistic">
          <div class="value">
            {{store_stats.category_counts|length|intcomma}}
          </div>
          <div class="label">
            商品分類數
          </div>
        </div>

        <div class="ui statistic">
          <div class="value">
            {{store_stats.quantity_counts|length|intcomma}}
          </div>
          <div class="label">
            商品規格數
          </div>
        </div>
    </div>

      {% for s, items in store_stats.series %}
      <div class='ui basic segment series'>
        <h3>{{s}}</h3>
        <table class='ui table selectable comptact'>
        {% for i in items %}
          <tr>
              <td>{{forloop.counter}}</td>
              <td class='ui single line'>{{i.store_name}}</td>
              <td>{{i.name}}</td>
              <td>{{i.price|floatformat:"2"}}</td>
              <td>
                  <div class='ui labels'>
                      {% for t in i.tags %}
                          {% if t.type == 'brand' %}
                          <span class='ui label red'>{{t.tag}}</span>
                          {% elif t.type == 'series' %}
                          <span class='ui label green'>{{t.tag}}</span>
                          {% elif t.type == 'property' %}
                          <span class='ui label yellow'>{{t.tag}}</span>
                          {% elif t.type == 'category' %}
                          <span class='ui label blue'>{{t.tag}}</span>
                          {% elif t.type == 'quantity' %}
                          <span class='ui label purple'>{{t.tag}}</span>
                          {% else %}
                          <span class='ui label grey'>{{t.tag}}</span>
                          {% endif %}
                      {% endfor %}
                  </div>
              </td>
          </tr>
        {% endfor %}
        </table>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock body %}

{% block extra-script %}
<link href="//cdn.bootcss.com/semantic-ui/2.2.4/components/sticky.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/semantic-ui/2.2.4/components/sticky.js"></script>
<style>
#tag-types{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
</style>
<script>
$(function(){
    $('.ui.sticky')
      .sticky({
        context: '#tagged-items'
      })
    ;
});
</script>
{% endblock extra-script %}