{% extends "analytics/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block body %}
<div class="container rail">
    <h1>{{store_name}} / TOP 200商品 / 最近30天</h1>
    <div class="ui statistics">
        <div class="ui statistic">
          <div class="value">
            {{total_sales|floatformat:"0"|intcomma}}
          </div>
          <div class="label">
            總銷售額(RMB)
          </div>
        </div>

        <div class="ui statistic">
          <div class="value">
            {{run_sum|intcomma}}%
          </div>
          <div class="label">
            top商品佔比
          </div>
        </div>
    </div>

<div class='ui sticky' id='tag-types'>
    <div class='ui labels'>
        <span class='ui label red'>品牌</span>
        <span class='ui label green'>系列</span>
        <span class='ui label yellow'>商品屬性</span>
        <span class='ui label blue'>商品分類</span>
        <span class='ui label purple'>商品数量</span>
        <span class='ui label black'>商品全称<div class="detail">佔比</div></span>
    </div>
</div>

<div class="ui grid" id='tagged-items'>
    <div class="eight wide column">
        <table class='ui table selectable comptact'>
        <thead>
            <tr>
              <th>排名</th>
              <th>商品</th>
              <th>銷售額(RMB)</th>
              <th>标簽</th>
            </tr>
        </thead>
        <tbody>
        {% for r in ranked_items %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{r.name}}</td>
            <td>{{r.sales|floatformat:"2"}}</td>
            <td>
                <div class='ui labels'>
                    {% for t in r.tags %}
                      {% if t.type == 'brand' %}
                      <span class='ui label red'>{{t.tag}}</span>
                      {% elif t.type == 'series' %}
                      <span class='ui label green'>{{t.tag}}</span>
                      {% elif t.type == 'property' %}
                      <span class='ui label yellow'>{{t.tag}}</span>
                      {% elif t.type == 'category' %}
                      <span class='ui label blue'>{{t.tag}}</span>
                      {% elif t.type == 'quantity' %}
                      <span class='ui label purple'>{{t.tag}}</span>
                      {% else %}
                      <span class='ui label grey'>{{t.tag}}</span>
                      {% endif %}
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="eight wide column">
        <table class='ui table selectable  comptact'>
        <thead>
            <tr>
              <th>排名</th>
              <th>品牌</th>
              <th>銷售額(RMB)</th>
              <th>佔比</th>
              <th>商品</th>
            </tr>
        </thead>
        <tbody>
        {% for brand, val in ranked_brands %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td class='single line'><a href='{% url "analytics-stores-brands" store_id=store_id brand_tag_id=val.brand_id %}'>{{brand}}</a></td>
            <td>{{val.sales|floatformat:"2"}}</td>
            <td>{{val.per|floatformat:"2"}}%</td>
            <td>
                <div class='ui labels'>
                    {% for item in val.items %}
                    <span class='ui label black'>{{item.name}}<div class="detail">{{item.per|floatformat:"2"}}%</div></span>
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock body %}

{% block extra-script %}
<link href="//cdn.bootcss.com/semantic-ui/2.2.4/components/sticky.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/semantic-ui/2.2.4/components/sticky.js"></script>
<style>
#tag-types{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
</style>
<script>
$(function(){
    $('.ui.sticky')
      .sticky({
        context: '#tagged-items'
      })
    ;
});
</script>
{% endblock extra-script %}