{% load staticfiles %}
{% load humanize %}
<html>
<head>
<link href="{% static 'summary/simple.css' %}" rel="stylesheet">
<title>超盟</title>
</head>
<body>

{% if store_name %}
<h3>
{{store_name}} / {{date}}<br>
超盟从 {{num_trades|intcomma}} 个交易里找到您的结果: </h3>
</h3>
{% else %}
<h3>
北京地區 / {{date}}<br>
超盟从 {{num_trades|intcomma}} 个交易, <a href="{% url 'monthly-store-list' date=date %}?mode=combine">{{num_store|intcomma}} 家商店</a>里找到您的结果: </h3>
{% endif %}

<h3>销售分类总结</h3>
<table border="1">
    <thead>
        <tr>
            <th rowspan="2">品类</th>
            <th colspan="2">销售额</th>
            <th colspan="2">占比</th>
        </tr>
        <tr>
            <th>RMB</th>
            <th>增长率%</th>
            <th>%</th>
            <th>(+/- pts)</th>
        </tr>
    </thead>
    <tbody>
        {% for cat, row in overall.items %}
            <tr>
                <td>{{row.display_cat}}</td>
                <td>{{row.sales|default_if_none:"-"}}</td>
                <td>{{row.sales_growth|default_if_none:"-"}}</td>
                <td>{{row.sales_percentage|default_if_none:"-"}}</td>
                <td>{{row.sales_percentage_growth|default_if_none:"-"}}</td>
            </tr>
        {% endfor content %}
    </tbody>
</table>

<h3>{{vendor_name}}</h3>
<table border="1">
    <thead>
        <tr>
            <th rowspan="2">品类</th>
            <th colspan="2">销售额</th>
            <th colspan="2">占比</th>
            <th colspan="2">份额</th>
        </tr>
        <tr>
            <th>RMB</th>
            <th>增长率%</th>
            <th>%</th>
            <th>(+/- pts)</th>
            <th>%</th>
            <th>(+/- pts)</th>
        </tr>
    </thead>
    <tbody>
        {% for cat, row in vendor.items %}
            <tr>
                <td>{{row.display_cat}}</td>
                <td>{{row.sales|default_if_none:"-"}}</td>
                <td>{{row.sales_growth|default_if_none:"-"}}</td>
                <td>{{row.sales_percentage|default_if_none:"-"}}</td>
                <td>{{row.sales_percentage_growth|default_if_none:"-"}}</td>
                <td>{{row.sales_percentage_in_overall|default_if_none:"-"}}</td>
                <td>{{row.sales_percentage_growth_in_overall|default_if_none:"-"}}</td>
            </tr>
        {% endfor content %}
    </tbody>
</table>


</body>
</html>