{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>超盟 - Store Shelf Update</title>
<link href="http://cdn.bootcss.com/semantic-ui/2.1.4/semantic.min.css" rel="stylesheet" type="text/css" >
<style>
.container{
    margin: 20px auto;
    width:800px;
}
</style>
<head>

<body>
<div class="container">
{{ form.errors }}


<hr>

<form method="POST">
{{form.shelf_id.label}}
{{form.shelf_id}}
<br>
{{form.layer.label}}
{{form.layer}}
<br>
{{form.item_ids}}
<br>

<div class="ui search">
  <div class="ui icon input fluid">
    <input class="prompt" type="text" placeholder="搜索" value="">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

<input type="submit">

</form>

<script src="{% static 'lib/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'lib/semantic.min.js' %}"></script>
<script>var store_id = '{{store_id}}';</script>
<script>
$(function(){

$('.ui.search').search({
    apiSettings: {
      url: '/store/'+store_id+'/items-searches?q={query}'
    },
    minCharacters: 3,
    fields: {
      title: 'name'
    },
    onSelect: function(result, response){
        $('#selected-search-result label').text(result.name);
        $('#selected-search-result input').val(result.id);
        $('#selected-search-result input').click();
        $('#selected-search-result').show();
    }
  });


});
</script>

</body>
</html>