{% extends "store/store_base.html"  %}
{% load staticfiles %}
{% block title_style %}
<title>价格带（有过销售）</title>
{% endblock %}
{% block body %}
<body onload=itemMapOut()>
<script language="JavaScript">
function itemMapOut(){
var   series = {{series| safe}};
var   xAxis =  {{xAxis| safe}};
itemMap(series,xAxis);
}
</script>
<div class="container" >
    <form method='GET'>
        <div class='ui stackable' id='datepicker_menu' align = 'middle'>
            <div class='ui input labeled'>
                <div class='ui label'>开始日期</div>
                <input type='text' id='start_date' name='start_date' value='{{start_date}}'>
            </div>
            <div class='ui input labeled'>
                <div class='ui label'>结束日期</div>
                <input type='text' id='end_date' name='end_date' value='{{end_date}}'>
            </div>
                &nbsp;&nbsp;分类
                <select id ='category' name='category'>
                {% for category_one in categorys %}
                {% if category_one == category %}
                <option value={{category}}  selected="selected">{{category}}</option>
                {% else %}
                <option value={{category_one}}>{{category_one}}</option>
                {% endif %}
                {% endfor %}
                </select>
            <input type='submit' class='ui button green' value='GO'>
        </div>
        <input type='hidden' name='store_id' value='{{store_id}}'>
    </form>
<br></br><br></br>
<div id="mainly_map" style="width: 800px; height: 600px; margin: 0 auto"></div>
</div>
<link href="//cdn.bootcss.com/semantic-ui/2.1.4/semantic.min.css" rel="stylesheet" type="text/css" >
<link href="//cdn.bootcss.com/jqueryui/1.12.0/jquery-ui.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script src="{% static "js/store/store_prices.js" %}"></script>
<script src="{% static "js/monitor/monitor_brand_items.js" %}"></script>
<script src="http://cdn.bootcss.com/echarts/3.2.3/echarts.min.js"></script>
</body>
{% endblock %}
